{% extends "base.html" %}

{% block content %}

    <form method="POST" action="{{ url_for('create') }}">
        
        <input type="text" name="login" placeholder="Введите LOGIN">
        <input type="text" name="cash" placeholder="Введите CASH">
        <input type="text" name="nationality" placeholder="Введите NATIONALITY">
        <input type="text" name="country" placeholder="Введите COUNTRY">
        <input type="text" name="language" placeholder="Введите LANGUAGE">
        <input class="btn btn-success" type="submit" value="Да">
    </form>
    
{% endblock %}
