{% extends "base.html" %}

{% block content %}
<a class="btn btn-warning" href="{{url_for('create')}}">Create</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>LOGIN</th>
            <th>CASH</th>
            <th>NATIONALITY</th>
            <th>COUNTRY</th>
            <th>LANGUAGE</th>
            <th>Action</th>
        </tr>
    </thead>
    <thead>
    {% for profile in profiles %}
            <tr>
                <td>{{ profile.id}}</td>
                <td>{{ profile.login}}</td>
                <td>{{ profile.cash}}</td>
                <td>{{ profile.nationality}}</td>
                <td>{{ profile.country}}</td>
                <td>{{ profile.language}}</td>
                <td>
                    <a class="btn btn-primary" href="{{ url_for('details', id=profile.id) }}">Подробнее</a>
                    <a class="btn btn-success" href="{{ url_for('update', id=profile.id) }}">Update</a>
                    <a class="btn btn-danger" href="{{ url_for('delete', id=profile.id) }}"> Delete </a>
                </td>
            </tr>   
            {% endfor %}
        </thead>
    </table>
    {% endblock %}
